body {
	margin: 0;
}

.snowman {
	font-size: 100px;
}
.step {
	position: fixed;
	height: 60px;
	width: 60px;
	border-top: 1px solid black;
	border-right: 1px solid black;

}
.step:nth-of-type(2) {
	top: 120px;
	left: 0px;
}
.step:nth-of-type(3) {
	top: 180px;
	left: 60px;
}
.step:nth-of-type(4) {
	top: 240px;
	left: 120px;
}
.step:nth-of-type(5) {
	top: 300px;
	left: 180px;
}
.step:nth-of-type(6) {
	top: 360px;
	left: 240px;
}
.step:nth-of-type(7) {
	top: 420px;
	left: 300px;
}